.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.cf {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.world {
  margin: 16px;
  width: 800px;
}

.circle-explicit {
  height: 20px;
  width: 20px;
  border-radius: 10px;

  background: green;
  margin: 4px 4px;
}

.circle-regular {
  height: 16px;
  width: 16px;
  border-radius: 10px;

  background: orange;
  margin: 6px 6px;
}

.single-line > div {
  float: left
}

.op-text.friend {
  width: 160px;
}

.opg-header .opiner, .opg-header button, .opg-header .path-count {
  float: right;
}

.path {
  width: 90px;
}

.opg-header, .op {
  line-height:28px;
  padding: 4px 0px;
}

.opg-toggle {
  height: 18px;
  line-height: 18px;
  margin: 4px;
  font-size: 14px;
  text-align: center;
}

.opg-header > div, .op > div {
  margin-right: 8px;
}

.opg {
  margin-top: 8px;
}

.op {
}

.path-count {
  background: #e6e6e6;
  border-radius: 8px;
  min-width: 16px;
  text-align: center;
  margin: 4px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #666;
}

.others {
  float: left;
}
