.markdown {

  strong {
    font-weight: 600;

  }

  h1, h2, h3, h4, h5 {
    font-family: 'Merriweather';
  }

  ul {
    margin-left: 15px;
    list-style-position: inside;
    li {
      list-style-type: disc;
      li {
        list-style-type: square;
        li {
          list-style-type: disc;
          li {
            list-style-type: square;
          }
        }
      }
    }
  }
}
