input,
textarea {
  appearance: none; // Removes awkward default styles on some inputs for iOS
  background-color: transparent;
  border: .1rem solid $primary-color;
  box-shadow: none;
  box-sizing: border-box;
  height: 3.8rem;
  padding: .6rem 1.0rem; // The .6rem vertically centers text on FF, ignored by Webkit
  width: 100%;

  &:focus {
    border: .1rem solid $primary-color-dark;
    outline: 0;
  }

}

label,
legend {

	font-size: 1.8rem;
	font-weight: 500;
	display: block;
	margin-bottom: .5rem;

}
