@charset "UTF-8";

@import "materialize";
@import "markdown";
@import "t-form";
@import "t-button";
@import "t-help";

$header-font: "EB Garamond";

html {
  font-family: "EB Garamond", serif;
  line-height: 1.5;
}

.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.cf {
  zoom:1;
  /* for ie 6/7 (trigger haslayout) */
}

span {
  display:block;
}

html {
  font-size: 10px;
}

body {
  background: #fff;
  font-size: 1.6rem;
}
h1, h2, h3, h4 {
  font-family: $header-font
}

.t-card {
  margin-bottom: 20px;
  background-color: $card-bg-color;

  @extend .z-depth-1;
}


.t-card-title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding: 20px;

  font-family: $header-font;

  background-color: $primary-color-light;
  color: $text-color;

}

.t-card-title:hover {
  background-color: $primary-color;
}

.subtitle {
  font-size: 2.1rem;
  line-height: 2.6rem;
  font-family: $header-font;
  padding-bottom: 3.2rem;

  color: $text-color-lighter;
}

.t-card-body {
  padding: 3.2rem;
  padding-bottom: 0;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  font-size: 1.6rem;
}

.toggles {
  cursor: pointer;
}

.circle-explicit {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 1.2rem;
  margin: 0rem .2rem;
  background: green;
}

.circle-regular {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 0.8rem;
  margin: .5rem 0.7rem;
  background: orange;
}

.op > span {
  float: left;
}

.op .friend {
  min-width: 240px;
}

.op .path-count {
  float: right;
}

.expanded .op {
  margin-bottom: 16px;
}

.expanded .op:last-of-type {
  margin-bottom: 0px;
}

.path > span {
  float: left;
}


button {
  &.forward-action {
    float: right;
  }

  &.backward-action {
    float: left;
  }
}

textarea.write {
  min-height: 50rem;
  font-size: 2.0rem;
  display: block;
}

.publish {
  clear: both;
}

.character-count {
  color: $text-color-lighter;
  height: 2rem;
}

.preview .markdown {
  min-height: 52rem;
}

.composer .subtitle {
  font-size: 2rem;
}

.credentials {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;

  .credentials-header {
    font-size: 1.4rem;
    color: $text-color-lighter;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
  background: pink;

  .user, .login, .logout {
    float: right;
    margin-right: 8px;
  }

  .home {
    float: left;
    margin-left: 8px;
  }

}

.world {
  padding-top: 2.4rem;

  > .content {
    margin-top: 2.4rem;
  }
}

.topic {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: $header-font;
  line-height: 2.4rem;
  padding: 16px;
  border-bottom: 1px solid #eeeeee;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}

.login-form {
  position: fixed;
  top: -1500px;
  width: 100%;
  height: 100%;
  background: orange;
  transition: top .5s;

  z-index: 10;

  &.visible {
    top: 0px;
  }

  > div {
    margin: auto;
    margin-top: 10em;
    max-width: 500px;
  }
}

.opg {
  .opinion {
    overflow: hidden;

    .text {
      transition: margin-top 1s 0.1s;
      margin-top: -200px;
      margin-left: auto;
      margin-right: auto;
      font-size: 2.1rem;
      line-height: 2.8rem;
      font-weight: 400;
      color: #444;

      p {
        margin-top: 0;
        margin-bottom:3.2rem;
      }
    }

    &.fetched .text {
      margin-top: 0px;
    }
  }
}

.group-section {
  margin-bottom: 3.2rem;
}

.group-section-header {
  color: $primary-color-dark;
  margin-top: 3.2rem;
  font-family: 'EB Garamond SC';
  font-size: 3.0rem;
}

.topic-title {
  text-transform: capitalize;
  font-size: 5.2rem;
}

.content {
  max-width: 640px;
  margin: auto;
}
