@charset "UTF-8";

@import "materialize";
@import "markdown";
@import "t-form";
@import "t-button";

.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.cf {
  zoom:1;
  /* for ie 6/7 (trigger haslayout) */
}

span {
  display:block;
}

html {
  font-size: 10px;
}

body {
  background: #fafafa;
  font-size: 1.6rem;
}
h1, h2, h3, h4 {
  font-family: 'Merriweather';
}

.t-card {
  margin-bottom: 20px;
  background-color: $card-bg-color;

  @extend .z-depth-1;
}


.t-card-title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 20px;

  font-family: 'Merriweather';

  background-color: $primary-color;
  color: $text-color;

}

.t-card-title:hover {
  background-color: $primary-color-light;
}

.subtitle {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-family: 'Merriweather';
  padding-bottom: 16px;

  border-bottom: 1px solid #ccc;

  color: $text-color;
}

.t-card-body {
  padding: 20px;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  font-size: 1.8rem;
}

.toggles {
  cursor: pointer;
}

.circle-explicit {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 0.7rem;
  margin: .6rem .3rem;
}

.circle-regular {
  height: 1rem;
  width: 1rem;
  border-radius: 0.6rem;
  margin: .7rem .4rem;
}

.op > span {
  float: left;
}

.op .friend {
  min-width: 200px;
}

.op .path-count {
  float: right;
}

.expanded .op {
  margin-bottom: 16px;
}

.expanded .op:last-of-type {
  margin-bottom: 0px;
}

.path > span {
  float: left;
}


button {
  &.forward-action {
    float: right;
  }

  &.backward-action {
    float: left;
  }
}

textarea.write {
  min-height: 50rem;
  font-size: 2.0rem;
  display: block;
}

.publish {
  clear: both;
}

.character-count {
  color: $text-color-lighter;
  height: 2rem;
}

.preview .markdown {
  min-height: 52rem;
}

.composer .subtitle {
  font-size: 2rem;
}

.credentials {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;

  .credentials-header {
    font-size: 1.4rem;
    color: $text-color-lighter;
  }
}
