@charset "UTF-8";

@import "materialize";
@import "markdown";
@import "t-form";
@import "t-button";
@import "t-help";

$text-font: "EB Garamond";

$header-font: "Roboto";

$link-color: color("purple", "lighten-2");

html {
  font-family: $header-font, serif;
  line-height: 1.5;
}

.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.cf {
  zoom:1;
  /* for ie 6/7 (trigger haslayout) */
}

span {
  display:block;
}

html {
  font-size: 10px;
}

body {
  background: #fff;
  font-size: 1.6rem;
}
h1, h2, h3, h4 {
  font-family: $header-font
}

.t-card {
  background-color: $card-bg-color;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0,0,0,0.04);
}


.t-card-title, .connections {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 2.4rem 3.2rem;

  font-family: $header-font;

  background-color: $primary-color-light;
  color: $text-color;

}

.subtitle {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-family: $header-font;
  padding-bottom: 3.2rem;

  color: $text-color;
}

.t-card-body {
  padding-bottom: 0;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.toggles {
  cursor: pointer;
}

.circle-explicit {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 1.2rem;
  margin: 0rem .2rem;
  background: green;
}

.circle-regular {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 0.8rem;
  margin: .5rem 0.7rem;
  background: orange;
}

.op > div {
  float: left;
}

.op .friend {
  min-width: 260px;
  margin-left: 0.8rem;
}

.numbered-badge {
  font-family: 'Roboto';
  overflow: hidden;
  line-height: 1.5em;
  border-radius: 0.75em;
  padding: 0 0.75em;

  .numbered-label {
    margin-right: -30em;
    margin-left: 0.75em;
    transition: margin-right 0.3s, margin-left 0.3s;
  }

  &:hover .numbered-label {
    margin-right: 0em;
    margin-left: 0.4em;
  }

  > span {
    float : left;
  }
}

.path-count {
  float: right;
  background: lightskyblue;
  font-size: 1.5rem;
}

.expanded .op {
  margin-bottom: 24px;
}

.expanded .op:last-of-type {
  margin-bottom: 0px;
}

.path > span {
  float: left;
}


button {
  &.forward-action {
    float: right;
  }

  &.backward-action {
    float: left;
  }
}

textarea.write {
  min-height: 50rem;
  font-size: 2.0rem;
  display: block;
}

.publish {
  clear: both;
}

.character-count {
  margin-top: 1.6rem;
  color: $text-color-lighter;
  height: 2rem;
}

.preview .markdown {
  min-height: 52rem;
}

.composer .subtitle {
  font-size: 2rem;
}

.credentials {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;

  .credentials-header {
    font-size: 1.4rem;
    color: $text-color-lighter;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
  background: pink;

  .user, .login, .logout {
    float: right;
    margin-right: 8px;
  }

  .home {
    float: left;
    margin-left: 8px;
  }

}

.world {
  padding-top: 2.4rem;

  > .content {
    margin-top: 2.4rem;
  }
}

.topic {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: $header-font;
  line-height: 2.4rem;
  padding: 16px;
  border-bottom: 1px solid #eeeeee;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}

.login-form {
  position: fixed;
  top: -1500px;
  width: 100%;
  height: 100%;
  background: orange;
  transition: top .5s;

  z-index: 10;

  &.visible {
    top: 0px;
  }

  > div {
    margin: auto;
    margin-top: 10em;
    max-width: 500px;
  }
}

$opinion-link-color : #aaa;

.opinion {
  padding: 2.4rem 3.2rem;

  .text {
    font-family: $text-font;
    font-size: 2.0rem;
    color: $text-color;

    margin-top: 1.6rem;
    line-height: 3.2rem;

    p {
      margin-top: 0;
      margin-bottom: 3.2rem;
    }
  }

  .read-more {
  }

  .snippet p {
    margin: 0px;
  }
}

.opiner {

  .opiner-name {
    float: left;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $opinion-link-color;
    margin-right: 0.8rem;
  }

  .influence {
    float: left;
    background-color: plum;
    color: #444;
    font-size: 1.2rem;
    margin-top: 0.3rem;
  }
}

.surveyor {
  .group-section-header {
    max-height: 45px;
    transition:
      max-height 0.3s ease-in 1.2s,
      margin-bottom 0.3s ease-in 1.2s,
      margin-top 0.3s ease-in 1.2s;
  }

  .t-card-title, .opinion-snippet, .opinion-full, .group-section-header, .opg, .show-all-wrapper {
    overflow: hidden;
  }

  .show-all-wrapper {
    padding-bottom: 1.6rem;
    max-height: 0px;
    transition: max-height 0.2s ease-in;
  }
}

.focused {
  .opg.collapsed {
    max-height: 0px;
    transition: max-height 0.3s ease-out;
  }

  .group-section-header {
    max-height: 0px;
    margin-bottom: 0rem;
    margin-top: 0rem;
    transition:
      max-height 0.3s ease-out 0s,
      margin-bottom 0.3s ease-out 0s,
      margin-top 0.3s ease-out 0s;
  }

  .show-all-wrapper {
    max-height: 100px;
  }
}

.opg.collapsed {
  max-height: 1400px;
  transition: max-height 0.3s ease-in 1.2s;

  .t-card-title {
    max-height: 24px;
    transition: max-height 0.2s ease-out 1.2s;
  }

  .opinion-snippet {
    max-height: 400px;
    transition: max-height 0.5s ease-in .7s;
  }

  .opinion-full {
    max-height: 0px;
    transition: max-height 0.5s ease-out 0.2s;
  }
}

.opg.expanded {
  .t-card-title {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.3s ease-in 1.5s;
  }

  .opinion-snippet {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease-out 0.3s;
  }

  .opinion-full {
    overflow: hidden;
    max-height: 1400px;
    transition: max-height 0.5s ease-in 1.0s;
  }
}

.group-section-header {
  color: $primary-color-dark;
  margin: 1.6rem;
  font-family: $header-font;
  font-size: 3.0rem;
  font-weight: lighter;
  letter-spacing: 2px;
}

.topic-title {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 6.0rem;
  margin:0;
}

.content {
  max-width: 640px;
  margin: auto;
}

.session-overview {
  text-align: center;
  margin-bottom: 3.2rem;
}

.opinion-browser, .composer {
  margin-bottom: 3.2rem;

  .opinion {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0,0,0,0.04);
  }
}

.session-link {
  width: 8rem;
  height: 8rem;
  border: 0.2rem solid orange;
  margin: 1.1rem;
  border-radius: 0.8rem;
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  cursor: pointer;

  div {
    opacity: 0;
  }

  &:hover {
    background: #fafafa;
    border-width: 0.3rem;
    margin: 1rem;
  }

  &.active {
    border: 0.3rem solid purple;
    margin: 1rem;
  }
}

.session-link .fetched {
  opacity: 1;
  transition: opacity 1s;
}

.session-links {
  margin: 0 auto;
}

.writer {
  textarea {
    padding: 3.2rem;
    font-size: 1.6rem;
  }

}

.write-qualifications {
  margin-top: 1.6rem;
}

.qualifications-input {
  .qualification {
    margin-top: 1.6rem;
  }

  label {
    text-transform: capitalize;
    color: $text-color-lighter;
    font-size: 1.6rem;
    font-weight: normal;
  }

  textarea {
    padding: 3.2rem;
    font-size: 1.6rem;
    height: 12.8rem;
  }
}

.section-header {
  color: $text-color;
  font-size: 2.0rem;
  margin: 1.6rem 0;
}

.section-sub-header {
  margin-top: -1.6rem;
  font-size: 1.2rem;
  color: $text-color-lighter;
}

.composer-nav {
  margin-bottom: 0.8rem;

  .write-nav, .preview-nav {
    float: left;
  }

  .save-opinion, .publish-opinion {
    float: right;
  }

  .publish-opinion {
    border-color: green;
  }

  .save-opinion {
    border-color: lightgreen;
  }

  > div {
    padding: 0.8rem 1.6rem;
    margin: 0.8rem;
    border: 2px solid orange;
    border-radius: 0.4rem;
    cursor: pointer;
  }

  .write-nav {
    margin-left: 0px;

    &:hover, &.active {
      margin-left: -0.1rem;
    }

    &:hover {
      background: #fafafa;
    }
  }

  .publish-opinion {
    margin-right:0px;

    &:hover, &.active {
      margin-right: -0.1rem;
    }
  }



  > div:hover {
    border-width: 3px;
    margin: 0.7rem;
    background: #fafafa;
  }

  .active {
    border-color: purple;
    border-width: 3px;
    margin: 0.7rem;
  }
}

.read-more, .show-all {
  padding: 0.4rem 1.2rem;
  margin-top: 1.6rem;
  margin-left: 0.1rem;
  margin-bottom: 0.1rem;
  border: 2px solid lightgreen;
  border-radius: 0.4rem;
  cursor: pointer;
  float: left;
  font-size: 1.4rem;
  color: $text-color;

  &:hover {
    border-width: 3px;
    margin-top: 1.5rem;
    margin-left: 0;
    margin-bottom: 0;
    background: #fafafa
  }
}

.delegate {
  margin-top: 1.6rem;

  button {
    margin-left : 1.6rem;
    font-size: 1.6rem;
    height: 3.2rem;
    line-height:3.2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.delegate-header {
  color: $primary-color-dark;
  margin: 1.6rem 0;
  font-family: $header-font;
  font-size: 3.0rem;
  font-weight: lighter;
  letter-spacing: 2px;
}
